rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    function isWorkspaceMember(workspaceId) {
      return signedIn() &&
        firestore.exists(/databases/(default)/documents/workspaces/$(workspaceId)/members/$(request.auth.uid));
    }

    match /workspaces/{workspaceId}/{allPaths=**} {
      allow read, write: if isWorkspaceMember(workspaceId);
    }
  }
}

